<!DOCTYPE html>
<html>

<head>
  <title>Flask-SSE Quickstart</title>
</head>

<body>
  <h1>SSE/HTMX Demo</h1>
  <div hx-ext="sse" sse-connect="{{ url_for('sse.stream') }}" sse-swap="message_list">
    {% include 'message_list.html' %}
  </div>

  <form hx-post="{{url_for('receive_input')}}" hx-swap="none">
    <input type="text" name="message" />
    <input type="submit" value="send" />
  </form>
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

</body>

</html>