<!DOCTYPE html>
<html>

<head>
    <title>SSE/HTMX Chat Demo</title>
    <style>
        .message {
            padding: 5px;
        }

        body {
            font-family: "Comic Sans MS", "Comic Sans", "TSCu_Comic";
        }
    </style>
</head>

<body>

    <div style="width: 450px; margin: auto;">
        <h1>SSE/HTMX Chat Demo</h1>
        {%block content %}
        {%endblock%}
    </div>

    <script src="https://unpkg.com/htmx.org@1.9.6"
        integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>

</body>

</html>